<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Cadastro de aluno</title>
    <!estilização>
    <style>
    h3{
        text-align: center;
        font-family: sans-serif
        ;
    }
   ::placeholder { 
   color: black;}
    </style>
</head>

<body style="background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%)">
<!Barra de navegação>
<nav>
    <div style="background-color: black" class="nav-wrapper">
      <a href="/" class="brand-logo">Yasogami High School</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"> Pagina inicial </a></li>
        <li><a href="/form">Cadastar novo aluno</a></li>
        
      </ul>
    </div>
</nav>
  <div class="container" style="margin-bottom: 20px" >

    <h3>Cadastro de Novo Aluno</h3>
    
    <br>
    <form action="/alunos" method="post" >
        <input type="hidden" name="id" value="${data.id}" >
        <!div do input name>
         <div class="row" >
    
      <div class="row" >
        <div class="input-field col s12" >
        
          <input id="icon_prefix" type="text" class="validate" name="nome" value="${data.nome}"  >
          <label for="icon_prefix" > <span class="black-text"> Nome do aluno</span></label>
        </div>
      </div>
  </div>
  
        <!div input email>
        <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" value="${data.email}" placeholder="exemplo@email.com" >
          <label for="email"><span class="black-text">Email</span></label>
        </div>
      </div>
      <! Selecionar o curso>

         <label> <span class="black-text"> Curso </span></label>
        <p>
            <label>
                <input name="curso" value="Tecnologo em ADS" type="radio" checked = "${data.curso == 'Tecnologo em ADS'}">
                <span class="black-text"> Tecnologo em ADS</span>
            </label>
        </p>
        <p>
            <label>
                <input name="curso" value="Informatica para Internet" type="radio" checked = "${data.curso == 'Informatica para Internet'}">
                <span class="black-text"> Tec. em Informatica para Internet</span>
            </label>
        </p>
        <p>
            <label>
                <input name="curso" value="Qualidade" type="radio" checked = "${data.curso == 'Qualidade'}">
                <span class="black-text"> Tec. em Gestão de Qualidade</span>
            </label>
        </p>
        <p>
            <label>
                <input name="curso" type="radio" disabled="disabled">
                <span class="grey-text"> Design Gráfico [ Em Breve ]</span>
            </label>
        </p>

        
    
        
        <!botões cancelar  e salvar >
        
        <a href="/" class="waves-effect waves-light btn" style="margin-right: 15px"> Cancelar</a>

        <button class="waves-effect waves-light btn" type="submit" >Salvar</button>
    </form>
    </div>
</body>


</html>